docker.runOptions = '-u $(id -u):$(id -g)'
docker {
    enabled = true
}

cleanup = true

trace.overwrite = true // TODO turn this off later

params {
    pipeline_version    = '0-1-alpha'

    // Configurable parameters
    fungal_mash_db_path = "/mnt/data/discovery_of_cauris/data/databases/mash/ncbi_genome_refseq_20230629/fungi"
    min_contig_length   = 1000

    // This pipeline support illumina-only, nanopore-only and hybrid assembly
    illumina_adapter_sequences          = "" // Default: autodetect
    illumina_min_target_depth           = 30
    illumina_max_target_depth           = 100
    illumina_min_target_coverage        = 95
    report_illumina_host_mapped_reads   = false // For trobleshooting
    
    // User input
    outdir              = false
    sample_id           = false
    // For illumina, there are illumina-se (single) and illumina-pe (paired)
    // For single, one fastq file. For paired, two fastq files.
    illumina_reads_1    = false
    illumina_reads_2    = false
    nanopore_reads      = false
    nanopore_contigs    = false

    // User input
    genome_size         = false
    genus               = false
    reference_genome    = false

}

profiles {
    standard {
      includeConfig 'conf/base.config'
    }
}
