process {

    cpus = '8'
    memory = '30g'

    withName:"ILLUMINA_FASTP|ILLUMINA_FASTQC|ILLUMINA_SEQKIT_STATS|ILLUMINA_CHECK_DEPTH|CLEANUP_CONSENSUS" {
        container = 'quality_control:0.0.1'
    }

    withName:"ILLUMINA_DECONTAMINATION_BOWTIE2" {
        container = 'quality_control:0.0.1'
    }

    withName:"SPADES" {
        container = 'assembly:0.0.1'
    }

    withName:"QUAST_ILLUMINA" {
        container = 'staphb/quast:5.0.2'
    }

    withName:"SPECIES_IDEN_ILLUMINA_READ|SPECIES_IDEN_NANOPORE_READ" {
        container = 'species_identification:0.0.1'
    }

    withName:"AMR_ANNOT_NCBI_AMRFINDERPLUS" {
        container = 'ncbi/amr:3.11.4-2023-02-23.1'
    }

    withName:"VARIENT_ANNOTATION_SNPEFF" {
        container = 'genome_characterization:0.0.1'
    }

    withName:"VARIENT_CALLING_SNIPPY|VARIENT_CALLING_SNIPPY_CAURIS_MITO" {
        container = 'staphb/snippy:4.6.0'
    }

    withName:"FUNGAL_SPECIES_IDEN_MASH_READ|FUNGAL_SPECIES_IDEN_MASH_CONTIG" {
        container = 'genome_characterization:0.0.1'
    }

    withName:"GET_FASTQ_FROM_SRA" {
        container = 'pegi3s/sratoolkit:3.0.5'
    }
}
